@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Josefin+Sans:wght@400;600;700&family=Ubuntu:ital,wght@0,300;1,400&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root {
    --var-primary-color: #2888E8FF;
}

html {
    font-size: 62.5;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
}

button,
input[type="submit"] {

    border: .1rem solid #fff;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    cursor: pointer;
}



/* now my registration page styling */

.registration-header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
   /* margin-left: 100px; */
    height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.logo a{
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

li > a{
    color: #fff;
    text-decoration: none;
}

/* home page styling */

/* regidtration page styling */

main{
    min-height: 80vh;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}
.registration, .login{
    min-height: 30rem;
    min-width: 40vw;
    /* margin: auto; */
    background-color: aquamarine;
}

.grid-two--column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.form-text{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
    url(/images/img2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 3rem 2rem;
}
.login .form-text{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
    url(/images/login_image.jpg);
    background-position: center;
    background-size: cover;

}

.form-text p{
    width: 30ch;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.form-text 
{
    background-color: #fff;
    color: #000;
}

.form-text button:hover{
    background-color: transparent;
    color: #fff;
}


.registration-form,.login-form{
    width: 100%;
    min-height: 45vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration-form,.login-form p{
    margin: 1rem 0 .7rem 0;
}

.social-icons{
    display: flex;
    gap: 1.4rem;
    margin: 1rem 0 .6rem 0;
}

.fa-brands{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

input{
    width: 20rem;
    margin: .7rem 0;
    border: none;
    background-color: #e8e8e8;
    padding: 1rem 1.8rem;
    letter-spacing: .06rem;
}

input[type="submit"]{
    margin-top: 1rem;
    min-width: 10rem;
    background-color: var(--var-primary-color);
    color: #fff;
}

.para{
    position: absolute;
    top: 15rem;
    left: 10rem;
}

.heading{
    position: absolute;
    top:20rem;
    left: 69rem;
}

.btn1{
    position: absolute;
    top:27rem;
    left: 69rem;
    
}

.btn1 button{
    background-color: #414141;
    color: white;
    transition: all ease 0.5s;
    border-radius: 10px;
    outline: none;
    border: none;

}

.btn1 button:hover{
    background-color: white;
    color: black;
    box-shadow: 5px 10px #1f1f1f;
    /* animation: btnHover all linear 0.5s; */
    scale: 1.1;

}



.registration:not(.login-section--display){
    display: none;
    
}

.login-section--display .registration{
    display: block;
}

.login-section--display .login{
    display: none;
}